@font-face {
    font-family: 'mi';
    src: url(http://cdn.materialdesignicons.com/4.2.95/fonts/materialdesignicons-webfont.woff2?v=4.2.95) format('woff2');
}
body, html {
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    background-color: #CCC;
    overflow: hidden;
}
rb {
    display: grid;
    width:96%;
    max-width:970px;
    height:96%;
    max-height:1690px;
    padding:0px;
    margin:2% 2%;
    grid-template: repeat(21, 1fr) / repeat(12, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-gap: 1.2% 2.1%;
}
rb a {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: stretch;
    color: black;
    text-decoration: none;
    border-radius:25px;
}
rb a[i] {
    font-family: 'mi';
}
rb a[p] {
    background-color: #AAE;
}
rb a[l] {
    background-color: #DDD;
}
rb a[d] {
    background-color: #333;
    color: #FFF;
}
rb a[d]:active {
    background-color: #000;
}
rb a[l]:active {
    background-color: #FFF;
}
rb a[p]:active {
    background-color: #77A;
}
